body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: 14px;
    font-weight: 400;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
}

/* Nav */
.nav {
    font-size: 13px;
    font-weight: 700;
    display: flex;
}

.nav__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s linear;
    opacity: .75;
    margin-left: 50px;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #31344e url("/img/intro-bg.jpg") no-repeat center / cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 65px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 0 0 30px 0;
}

.intro__subtitle {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 60px;
}

/* button */
.btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    font-family: inherit;
    border: 0px;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 2px;
    vertical-align: top;
}

.btn--red {
    background-color: #e84545;
    transition: .1s linear;
}

.btn--red:hover {
    background-color: #dd3434;
}

/* Features */
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features__icon {
    margin-bottom: 25px;
}

.features__item {
    width: 33.33333%;
    text-align: center;
    padding: 0px 40px;
    margin: 25px 0;
}

.features__title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
}

.features__text {
    font-size: 14px;
    font-weight: 400;
    color: #6c7279;
    line-height: 1.5;
}


/* Works */
.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__item:nth-child(4) {
    border-right: 0;
}

.works__item:nth-child(8) {
    border-right: 0;
}

.works__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}

.works__item:hover .works__content {
    opacity: 1;
}


.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.team {
    margin: 100px 0 70px;

}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding:0 15px;
    margin-bottom: 30px;
}

.team__photo:hover {
    transform: scale(1.1);
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: .1s linear;
}

.team__name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;
}

.team__prof {
    font-size: 13px;
    color: #e84545;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.team__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

.team__social {

}